@import url(http://fonts.googleapis.com/css?family=Lobster|Varela+Round|Quattrocento+Sans|IM+Fell+Great+Primer:400italic);
body {
    margin: 80px 20px;
    font-family: "Varela Round", Helvetica, Arial, sans-serif;
}
.dialog { display: none }
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    color: #fff;
    height: 60px;

	background: #4bb0cc; /* Old browsers */
	background: -moz-linear-gradient(top, #4bb0cc 0%, #2ea2cc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4bb0cc), color-stop(100%,#2ea2cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4bb0cc 0%,#2ea2cc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4bb0cc 0%,#2ea2cc 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #4bb0cc 0%,#2ea2cc 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bb0cc', endColorstr='#2ea2cc',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #4bb0cc 0%,#2ea2cc 100%); /* W3C */

	-webkit-box-shadow: 0px 0px 10px 2px #ccc;
	-moz-box-shadow: 0px 0px 10px 2px #ccc;
	box-shadow: 0px 0px 10px 2px #ccc;

}
header h1,
header h2,
header h3,
header form {
    display: inline-block;
    margin: 0px 20px;
    padding: 0;
    font-weight: normal;
}
header .menu {
    float: right;
    line-height: 60px;
    padding: 0px 20px;
}
header h1 {
    background-color: #333;
    line-height: 60px;
    font-family: "Lobster", Helvetica, Arial, sans-serif;
    padding: 0px 20px;
    margin: 0;
}
#session {
    text-transform: none;
    color: #fff;
    margin: 0px 10px;
}
#session_change:hover { cursor: pointer }
#session_change {
    font-size: .5em;
    cursor: pointer;
    color: #fff;
    border-bottom: 1px dotted #fff;
    text-transform: lowercase;
}
header h2 {
    padding-right: 5px;
    text-transform: uppercase;
    color: #348CB8;
}
footer {
    bottom: 0;
    left: 0;
    position: fixed;
  	background-color: #ccc;
    height: 30px;
    width: 100%;
    border: 1px solid #333;
}
footer form label {
    line-height: 30px;
    display: inline-block;
    padding: 0px 10px;
    background-color: #333;
    color: #fff;
}
footer form input[type="text"] {
    border: none;
    background-color: #ccc;
    padding: 5px;
    margin: 0;
    width: 60%;
    outline: 0;
}
footer form input[type="submit"] { margin: -9000px }
footer form a {
    float: right;
    line-height: 30px;
}
header a,
header a:visited {
    color: #fff;
    margin: 0px 10px;
    text-decoration: none;
}
header a:hover {
    border-bottom: 1px dotted #fff;
    color: #fff;
}
table { width: 100% }
td {
    padding: 3px;
    border-bottom: 1px dotted #eee;
	line-height:1.5em;
}
tr:hover { background-color: #f4f4f4 }
tr td.task_time {
    color: #BBB;
    text-align: right;
    width: 20px;
}
tr td.task_note {
    text-align: left;
    color: #000;
}
.start { border-top: 1px solid #000; background-color: #f4f4f4; }
.task_new { border-top: 1px solid #348CB8 }
.task_new .task_label { color: #348CB8 }
.task_assist .task_label { color: #B3BA5A }
.task_error .task_label { color: #F692A6 }
.task_quote .task_label { color: #EFAD1C }
.task_label span {
	font-size: .7em;
}
.task_label {
    width: 50px;
    text-transform: uppercase;
    line-height: 1.5em; 
	text-align:right;
}
.task_quote .task_note {font-style: italic; font-family: "IM+Fell+Great+Primer", Garamond, serif;font-size:1.1em; }