body {
	margin:80px 20px;
}
table {max-width:700px; width:100%; }
td {padding:3px; border-bottom: 1px dotted #eee;}
tr td { color:#333;}
tr td:first-of-type { color: #BBB; text-align:right; width:25px;}
header {top:0; left:0; position:fixed; width:100%; background-color:#4BB0CC; color:#fff; height: 60px;}
header h1, header h2, header h3, header form {display: inline-block;margin:0;padding:0px 10px;}
header h1 {background-color:#333;   line-height:60px; }
header h2 {padding-right:5px; }
footer {bottom:0; left:0; position:fixed; background-color:#ccc; height:30px; width:100%;border:1px solid #333;}
footer form label {line-height:30px; display: inline-block; padding: 0px 10px; background-color:#333; color:#fff;}
footer form input[type="text"] {border:none; background-color:#ccc; padding:5px; width:auto; margin:0; height:100%;width:90%;outline:0;}
footer form input[type="submit"] {margin: -9000px;}
header a, header a:visited {color:#fff; padding: 0px 10px;}
#tabularasa {float:right;}