@import url(http://fonts.googleapis.com/css?family=Lobster|Varela+Round|Quattrocento+Sans|Bowlby+One+SC);
body {
    margin: 80px 20px;
    font-family: "Varela Round", Helvetica, Arial, sans-serif;
}
.dialog { display: none }
table {
    max-width: 700px;
    width: 100%;
}
td {
    padding: 3px;
    border-bottom: 1px dotted #eee;
}
tr:hover { background-color: #f4f4f4 }
tr td { color: #333 }
tr td:first-of-type {
    color: #BBB;
    text-align: right;
    width: 25px;
}
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #4BB0CC;
    color: #fff;
    height: 60px;
}
header h1,
header h2,
header h3,
header form {
    display: inline-block;
    margin: 0px 20px;
    padding: 0;
    font-weight: normal;
}
header .menu {float:right; line-height: 60px; padding: 0px 20px;}
header h1 {
    background-color: #333;
    line-height: 60px;
    font-family: "Lobster", Helvetica, Arial, sans-serif;
    padding: 0px 20px;
    margin: 0;
}
#session {text-transform: none; color:#fff; margin:0px 10px;}
#session_change:hover {
	cursor: pointer;
}
#session_change {font-size: .5em; cursor:pointer;color:#fff; border-bottom:1px dotted #fff;text-transform:lowercase;}

header h2 { padding-right: 5px;
	text-transform: uppercase; 
	color:#348CB8;
	}
footer {
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #ccc;
    height: 30px;
    width: 100%;
    border: 1px solid #333;
}
footer form label {
    line-height: 30px;
    display: inline-block;
    padding: 0px 10px;
    background-color: #333;
    color: #fff;
}
footer form input[type="text"] {
    border: none;
    background-color: #ccc;
    padding: 5px;
    width: auto;
    margin: 0;
    height: 100%;
    width: 100%;
	max-width:900px;
    outline: 0;
}
footer form input[type="submit"] { margin: -9000px }
footer form a {
	float:right;
	line-height:30px;
	}
header a,
header a:visited {
    color: #fff;
    margin: 0px 10px;
    text-decoration: none;
}
header a:hover { border-bottom: 1px dotted #fff; color: #fff; }
.task td {
    border-top: 1px solid #348CB8;
}
.newtask, .task_assist, .task_error {text-transform:uppercase; font-size:.7em; line-height:1em; margin-right: 10px;}
.newtask {color: #348CB8;}
.task_assist, .task_error {color:#ccc;}

